* {
  a {
    text-decoration: none;
    color: inherit;
  }
  body {
    background-color: #e9e9e9;
  }
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

input,
button,
[tabindex] {
  border: none;
  outline: none;
}
