.report {
  width: 100%;
  display: flex;

  .reportContainer {
    flex: 6;
    .reportList{
      display: flex;
      flex-direction: column;
      gap: 20px;
        margin: 20px;
        padding: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    }
  }
}
