.jobCard {
  width: 583px;
  margin-right: -5px;
  cursor: pointer;
  &.action{
    border-left: 5px solid var(--primary);
  }
  &:hover {
    h2 {
      color: rgb(247, 36, 36);
    }
  }
  border-top: 1px solid #ff9e34;
  border-bottom: 1px solid #ff9e34;

  background-color: #fff;
  display: flex;
  min-height: 100px;
  

  .logo {
    width: 65px;
    height: 65px;
    flex: 0.5;
    display: flex;
    align-items: center;
    margin: 30px 30px;

    img {
      border: 1px solid #bbbbbb;
      height: 65px;
      width: 65px;
      object-fit: contain;
    }
  }
  .about {
    flex: 2;
    margin: 20px 0;
    h2{
      width: 300px;
      white-space: pre-wrap;
    }
    .salary {
      font-size: 13px;
      margin: 5px 0;
      color: rgb(15, 234, 77);
    }
  }
  .more {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
    color: #999797;
    padding: 20px;
    .primary {
      width: 60px;
      padding: 4px;
      color: #fff;
      background-color: var(--primary);
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgb(211, 5, 5);
      }
    }
    .hot {
      padding: 2px 10px;
      min-width: 45px;
      color: #fff;
      background: #ff9e34;
      align-self: flex-end;
      text-align: center;
    }
  }
}
