.footer {
  padding: 40px 30px;
  background-color: var(--secondary);
  width: 100%;
  color: #929497;
  font-size: 14px;
  display: flex;
  justify-content: center;
  span {
    padding: 2px 0;
  }

  .container {
    width: 1350px;

    .title {
      color: #c1c1c1;
      font-weight: 700;
    }
    .top {
      display: flex;
      .about {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    .rule {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .media {
      flex: 2;
      display: flex;
      flex-direction: column;
    }
    .contact {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
    }
  }
}
