.listJob {
    background-color: #fff;
    border: 1px solid #d9d8d8;
        border-radius: 4px;
    h1{
        padding: 10px;
        font-weight: 400;
    }
    margin-right: 10px;


    // scroll
    overflow-y: auto;
    overflow-x: hidden;
    height: 700px;
    
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: transparent;
    }
    &:hover {
        &::-webkit-scrollbar {
            border-radius: 0;
            width: 8px;
            
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(22, 24, 35, 0.06);
        }
        &::-webkit-scrollbar-track {
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0);
            
        }
    }
}